html, body, div, span, input,select,textarea,applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { 
    outline:none;
    margin:0; 
    padding:0; 
    font-size:14px; 
    font-family:"Microsoft Yahei","Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",sans-serif,Georgia,Helvetica,Tahoma,Arial; 
}


a{
    text-decoration: none;
}

ul{
	list-style-type: none;
}


.txt{
	width:200px;
    line-height:20px;
    padding: 4px 6px;
    text-align: center;
    display: inline-block;
    color: #555;
    border: 1px solid #8CA4B7;
    height: 20px;
}

.text-center{
    text-align: center !important;
}


textarea{
    border: 1px solid #8CA4B7;
	width: 600px;
	height: 200px;
    outline: none;
}


label{
    display: inline-block;
    color: #333;
    font-size: 14px;
    line-height: 16px;
    padding: 3px 6px;
}

select{
    outline: none;
    width: 130px;
    display: inline-block;
}

/* 左右浮动 */
.fright{
    float: right;
}

.fleft{
    float: left;
}



#top-nav{
    width: 100%;
    clear: both;
    background:-webkit-linear-gradient(top , #f8f9fa, #eeeff0) repeat scroll 0 0 transparent;
    background:-moz-linear-gradient(center top , #f8f9fa, #eeeff0) repeat scroll 0 0 transparent;
    height: 60px;
    border-bottom: 1px solid #E5E5E5;
}


#wrap-nav,#wrap-body{
    margin: 0 auto;
    width: 1000px;
}



/* top nav  */

.logo{
    float: left;
    display: block;
    color: #7D7C7C;
    font-size: 23px;
}

.logo a{
    display: inline-block;
    color: #555;
    text-shadow: rgba(0, 0, 0, 0.2345) 1px 1px 1px;
}

.top-nav-info{
    float: right;
    margin-top: 25px;
}


.top-nav-info a{
    display: inline-block;
    font-size: 14px;
    text-align: center;
    padding: 4px;
    color: #0077CC;
}

.top-nav-info span{
    margin: 0px 5px;
    display: inline-block;
     color: #555555;
}



/* header menu */

.header-menu{
    float: left;
    margin-top: 15px;
    height: auto;
    border-bottom: 1px solid #E5E5E5;
    width: 100%;
}


.header-menu ul{
 float: left;
}


.header-menu li{
    float: left;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
}


.header-menu a{
    display: inline-block;
    text-align: center;
    font-size: 16px;
    color: #464646;
    padding: 6px 15px;
    background-color: #f5f5f5;
    border: 1px solid #dfdfdf;
    border-bottom: none;
}


.header-menu a:hover{
    background-color: #0C6FB2;
    color: #ffffff;
    border-color: #0C6FB2;
}

.header-menu .current-menu-item a{
    background-color: #0C6FB2;
    color: #ffffff;
    border-color: #0C6FB2;
}



/* 左边菜单 */
.left-menu{
    width: 200px;
    margin-top: 15px;
    
}

.left-menu > ul{
    display: block;
    position: relative;
    width: auto;
}

.left-menu >ul li{
    display: block;
    position: relative;
    z-index: 999;
}

/* ul的第一个孩子和最后一个孩子特殊处理 */
.left-menu >ul li:last-child>a{
    border-bottom: 1px solid #eaeaea;
    border-radius: 0 0 3px 3px;
}

.left-menu >ul li:first-child>a{
    border-top: 1px solid #eaeaea;
    border-radius: 3px 3px 0 0;
}

/* ul下面所有a 样式统一 */
.left-menu>ul li a{
    position: relative;
    display: block;
    width: auto;
    text-align: left;
    padding: 0px 0px 0px 10px;
    font-size: 14px;
    color: #4A9DD4;
    border: 1px solid #eaeaea;
    border-bottom: none;
    border-top: 1px solid #FAFAFA;
    border-bottom: 1px dotted #d9d9d9;
    background-color: #FAFAFA;
    height: 38px;
    line-height: 38px;
}


.left-menu a:hover{
    background-color: #F3F3F3;
    border-top-color: #F3F3F3; 
}


.left-menu >ul ul{
    display: block;
    width: 200px;
    position: absolute;
    left: 200px;
    top: -9999px;
    padding-left: 5px;
    opacity: 0;
    -webkit-transition: opacity .3s ease-in;
    -moz-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in;
    -ms-transition: opacity .3s ease-in;
}

.left-menu> ul .has-sub>a::after {
    content: '';
    position: absolute;
    top: 17px;
    right: 20px;
    width: 0px;
    height: 0px;

    /* Creating the arrow using borders */
    border: 4px solid transparent;
    border-left: 4px solid #4A9DD4;
}

.left-menu > ul li:hover>ul{
    top: 0px;
    opacity: 1;
}

.left-menu .last-second a{
   border-bottom: 1px solid #eaeaea;
   border-radius: 0 0 3px 3px;

}


.left-menu .menu-current-item{
    background-color: #4A9DD4 !important;
    color: #fff !important;
    border-color:#4A9DD4 !important;
    border-radius: 0 !important;
}

.left-menu a.has-sub-current::after{
     /* Creating the arrow using borders */
    content: '';
    position: absolute;
    top: 17px;
    right: 20px;
    width: 0px;
    height: 0px;

    border: 4px solid transparent;
    border-left: 4px solid #fff !important;
}

/* li的直接span做arrow */
.left-menu li>span{
    position: absolute;
    width:0; 
    height:0; 
    border-left: 16px solid #4A9DD4;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 38px solid transparent;
    top: 0px;
    right: -54px;
}

.left-menu a:hover{
    background-color: #F3F3F3;
}



#main{
 margin: 0 auto; 
 width: 1000px;
}


.flside{
    float: left;
    width: auto;
    height: auto;
}


.frside{
   float: left;
   max-width: 1000px;
   min-width: 780px;
   height: auto;
}


.main-top{
    position:relative;
    margin-bottom: 15px;
    border: 1px solid transparent;
}


.main-body{
    position: relative;
    margin-bottom: 25px;
}


.cl{
    clear: both;
}

.filter{
    margin-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-top: 15px;
    display: none;
}


#footer{
    clear: both;
    color: #999;
    padding: 25px 0px;
    margin-top: 35px;
}


/* 隐藏选项按钮 */
.toggle-list{
    position: absolute;
    top:0px;
    right:0px;
    display: inline-block;
    line-height: 38px;
    width: 100px;
    height: 34px;
    text-align: center;
    color: #98A3AF;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .2);
    -moz-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0  5px 5px;
    border-radius: 0 0 5px 5px ;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 0px;
    z-index: 999;
    border: 1px solid #DDD;
    border-top: #ffffff;
    background-color: #ffffff;
  }

  .toggle-list:hover{
    background: #F3F5F7;
  }


  /* ajax 加载loading */
  .ajax-loading{
    position: fixed;
    top: 50%;
    right: 0px;
    display: block;
    width: 100%;
    text-align: center;
    z-index: 999;
    height: 100px;
    display: none;
    background: url("../image/ajax-loader.gif") no-repeat center center;
  }


  /* 动作按钮集，包括删除，放入专辑，放入分类 */

  .setting-act a {
    display: inline-block;
    margin-left: 25px;
  }

  .setting-act{
    margin-top: 10px;
    margin-left: 15px;
  }



/* 图片list  */
.imglist{
    position: relative;
    width: 1000px;
    margin-top: 15px;
}


.imglist li{
    display: inline-block;
    width: 100px;
    height: auto;
    padding: 7px;
    border-radius: 3px;
    border:1px solid transparent;
    text-align: center;
}

.imglist li:hover{
    background-color: #f8f8f8;
    border-color: #DCD
}


.imglist p{
    color: #666;
    font-size: 11px;
    text-align: left;
    margin-bottom: 5px;
}

.imglist span{
    font-size: 11px;
}

.imglist span.num{
    color: #520B00;
    margin-left: 5px;
}

.imglist a{
    display: inline-block;
    font-size: 11px;
    color: #666;
}

.imglist a:hover{
    color: #07C;
}

.imglist li img{
   width:100px;
   height:75px;
}

.imglist p.act{
    line-height:24px;
    height:24px;
    text-align:right;
}

.imglist p.act:hover{
     background-color:#E1F0F7;
}


/*  tab */
.tabs{
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom:1px solid #DDDDDD;
    height:33px;
}

.tabs li{
    cursor:pointer;
    float:right;
    font-size: 14px;
    margin:0 0 0 5px;
    text-align:center;
}


.tabs li.tab{
    background-image: -ms-linear-gradient(top, #FDFDFD, #F4F5F5) repeat scroll 0 0 transparent;
    background:-moz-linear-gradient(center top , #FDFDFD, #F4F5F5) repeat scroll 0 0 transparent;
    background:-webkit-linear-gradient(top , #FDFDFD, #F4F5F5) repeat scroll 0 0 transparent;
    background-image: -o-linear-gradient(top, #FDFDFD, #F4F5F5);
    border-radius:6px 6px 0 0;
    border:1px solid #CCCCCC;
    border-bottom:none;
    color:#777777 ;
    height:32px;
    line-height:32px;
    width:80px
}

.tabs li.selected{
    background-image: -ms-linear-gradient(top, #FDFDFD, #FFFFFF) repeat scroll 0 0 transparent;
    background-image: -o-linear-gradient(top, #FDFDFD, #FFFFFF);
    background:-moz-linear-gradient(center top , #FDFDFD, #FFFFFF) repeat scroll 0 0 transparent;
    background:-webkit-linear-gradient(top , #FDFDFD, #FFFFFF) repeat scroll 0 0 transparent;
    color:#B86364;
    height:33px;
}

.tab a{
  color: #777;
  line-height: 24px;
  padding: 8px 0px;
  width: 60px;
  direction: inline-block;
}

.tabs .selected a{
  color: #B86364 !important;
}



/*分类弹出盒子*/

#cate-box{
  display: block;
  max-width: 600px;
  max-height: 300px;
  overflow-x:hidden;
  overflow-y:auto;
  padding: 20px;
}

#cate-box label{
    color:#333;
    display:inline-block;
    line-height: 24px;
    padding: 8px 0;
    font-size:14px;
    min-width: 100px;
}


#cate-box li{
  display: inline-block;
  line-height: 24px;
  margin-right: 5px;
  margin-bottom: 10px;
  border-radius: 3px;
  padding-left: 10px;
}

#cate-box li:hover{
  background-color: #e1f0f7;
}



/*专辑弹出盒子 */

#dirct-box div{
   margin-bottom: 10px;
   padding: 7px;
   border-radius: 3px;
   box-shadow:0 0 6px rgba(0, 0, 0, 0.5)
}

#dirct-box ul{
    height: auto;
}

#dirct-box h3{
    color: #333;
    font-size: 14px;
    display: inline-block;
}
#dirct-box h2{
    font-size: 17px;
    color: #222;
    margin-bottom: 15px;
}
#dirct-box{
    max-width: 900px;
    max-height: 600px;
    overflow-x:hidden;
    overflow-y:auto;
    padding: 15px;
}
#dirct-box p{
    position: absolute;
    text-align:center;
    margin-top:15px;
    right: 47%;
    bottom: 5px;
}
#dirct-box p a{
width: 100px;
}

#dirct-box li{
    display: inline-block;
}


/* 翻页 */

.turn-page{
  clear: both;
  width:auto; 
  margin-right: 15px;
  margin-top: 15px;
  text-align: right;
  display: block;
}

.turn-page span{
    color: #333 ;
    font-size: 13px;
    display: inline-block ;
    margin-right: 7px;
}

.prev-page,.next-page{
    background:-moz-linear-gradient(center top , white, #EFEFEF) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#EFEFEF));
    background: -webkit-linear-gradient(top , white, #EFEFEF) repeat scroll 0 0 transparent;
    border:1px solid #CCCCCC;
    border-radius:3px;
    color:#444444;
    display:inline-block;
    font-size:14px;

    display: inline-block;
    line-height: 18px;
    min-width: 25px;
    padding: 4px 8px;
    margin-right: 10px;
    text-decoration: none;
}

.prev-page:hover,.next-page:hover{
   color: #105CB6;
}



/* button  */
 
 /* action button */    

.btn{
     border: 1px solid #DCDFE2;
    color: #007AC7;
    padding: 4px 8px;
    background-color: white;
    background-image: -moz-linear-gradient(to bottom,white,#FBFBFB);
    background-image: -o-linear-gradient(to bottom,white,#FBFBFB);
    background-image: -webkit-linear-gradient(to bottom,white,#FBFBFB);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,white),color-stop(1,#FBFBFB));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#fff, EndColorStr=#fbfbfb)";
    background-image: linear-gradient(to bottom,white,#FBFBFB);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 3px;
    cursor: pointer;
}
            
.btn:hover,.btn-active{
    color: white !important;
    background-color: #148CD3;
    background-image: -moz-linear-gradient(to bottom,#148CD3,#0D7BCB);
    background-image: -o-linear-gradient(to bottom,#148CD3,#0D7BCB);
    background-image: -webkit-linear-gradient(to bottom,#148CD3,#0D7BCB);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#148CD3),color-stop(1,#0D7BCB));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#148cd3, EndColorStr=#0d7bcb)";
    background-image: linear-gradient(to bottom,#148CD3,#0D7BCB);
    -moz-box-shadow: 0 0 7px 2px rgba(0,0,0,.17);
    -webkit-box-shadow: 0 0 7px 2px rgba(0,0,0,.17);
    box-shadow: 0 0 7px 2px rgba(0,0,0,.17);
    border: 1px solid #148CD3;
}



/* add  button */
.add-btn{
    font: 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 7px 17px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 white;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    color: white;
    text-shadow: none;
    margin-right: 5px;
    background-color: #2B8A00;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#4BA614), to(#008C00));
    background-image: -moz-linear-gradient(top, #4BA614, #008C00);
    background-image: -ms-linear-gradient(top, #4BA614, #008C00);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4BA614), color-stop(100%, #008C00));
    background-image: -webkit-linear-gradient(top, #4BA614, #008C00);
    background-image: -o-linear-gradient(top, #4BA614, #008C00);
    background-image: linear-gradient(top, #4BA614, #008C00);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4ba614', endColorstr='#008c00', GradientType=0);
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    min-width: 30px;
    cursor: pointer;
}

.add-btn:hover {
    color: white;
    text-shadow: none;
    border-color: #0069B2;
    background-position: 0 -10px;
}


/* edit delete button */
.edit-btn{
    color: #646464;
    font: 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 7px 17px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 white;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #F3F3F3;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(whiteSmoke),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(whiteSmoke),to(#F1F1F1));
    border: solid 1px gainsboro;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    min-width: 30px;
}


.edit-btn-small{
  padding: 3px 4px;
  text-align: center;
  margin-top: 5px;
}


.edit-btn:hover{
    color: #333;
    border-color: #999;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}


.del-btn{
    color:#888;
    display:inline-block;
    line-height:16px;
    padding:3px 4px;
    font-size:13px;
}

.del-btn:hover{

    color: #d21a00;
}


/*分类列表*/

.cates-list ul{
    list-style: none;
}
.cates-list li{
    margin-top:7x;
    padding: 7px 0px;
    float: left;
    width: 100%;
    border-top: 1px solid #DCDFE2;
}

.cates-list span{
    color:#666666;
    display:block;
    font-size:12px;
    margin: 10px;
}

.cates-list img{
    width: 100px;
    height: 75px;
}

.cates-list p{
    float: left;
    display: inline-block;
    min-width: 120px;
}

.cates-list a{
    display: inline-block;
}



/* 专辑列表  包括专辑他页面和分类页面的专辑*/
.dirct-list{
    width: 780px;
    height: auto;
    clear: both;
    margin-top: 25px;
}


.dirct-list ul{
    list-style-type: none;
}


.dirct-list li.normal{
    display: inline-block;
    margin-bottom: 10px;
}

.dirct-list li.box{
    padding: 8px;
    width: 120px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-left: 25px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.dirct-list img{
    width: 120px;
    height: 90px;
}

.dirct-list p{
    font-size: 11px;
    color: #333;
    line-height: 16px;
    text-align: left;
}

.dirct-list span{
    color:#520B00;
    display:inline-block;
    line-height: 16px;
    padding: 3px;
    font-size:11px;
}

.dirct-list a.dir{
    color: #259;
    line-height: 16px;
    font-size: 14px;
    text-decoration: none;
    background: #ffffff;
    padding: 4px 8px;
    display: inline-block;
    border-radius: 3px;
}

.dirct-list a.dir:hover{
    background-color: #E1F0F7;
}

.dirct-list .act{
    line-height:24px;
    height:24px;
    text-align:right ;
}


/* 筛选按钮 */
#filter-act{
    margin-left: 20px;
}


/* 搜索框 */
.search-box{
    margin-top: 50px;
    position: relative;
}

.search-txt{
    width:180px;
    line-height:20px;
    height: 20px;
    padding: 6px 6px;
    text-align: center;
    display: inline-block;
    color: #555;
    border: 1px solid #8CA4B7;
}

#side-go-search{
    position: absolute;
    border:0 none;
    display:inline-block;
    height:33px;
    background-color: transparent;
    background: url("../image/toolbar_find_16.png") no-repeat scroll 8px ;
    border-right: 1px solid #8CA4B7;
    left:0;
    position:absolute;
    text-indent:-9999px;
    top:0;
    width:36px;
    cursor: pointer;
}





/* 当前位置 */
.current-location{
    display: block;
    border-bottom: 1px solid #F1F1F1;
    padding: 10px 0;
}

.current-location a{
    color: #327CCB;
    display: inline-block;
    font-size: 16px;
    line-height: 21px;
    padding: 3px 0;
    text-decoration: none;
}

.current-location span{
    color: #333;
    display: inline-block;
    font-size: 16px;
    line-height: 21px;
    padding: 3px 0;
    text-decoration: none;
    margin-left: 25px;
}


/* 翻页输入框 */
.pagenum-txt{
    width:50px;
    line-height:18px;
    padding: 3px 6px;
    text-align: center;
    display: inline-block;
    color: #555;
    border: 1px solid #8CA4B7;
}

/* 通知栏 */
.notice-panel{
    position: absolute;
    top: -2px;
    left: -250px;
    display: block;
    line-height: 38px;
    text-align: center;
    color: #98A3AF;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .2);
    -moz-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0  5px 5px;
    border-radius: 0 0 5px 5px ;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 1px;
    z-index: 999;
    border-top: #ffffff;
    background-color: #ffffff;
}


 .top-panel{
    width: 200px;
    position: relative;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px  4px 4px 0px;
    -moz-border-radius: 4px  4px 4px 0px;
    -o-border-radius: 4px  4px 4px 0px;
    border-radius: 4px  4px 4px 0px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .05);
    padding: 8px 4px;
    text-align: left;
  }

  .top-panel p{
    color:#666;
    line-height: 16px;
    padding: 2px 0px;
    font-size:12px;
    margin-left: 10px;
    overflow: hidden;
  }


  .top-panel span{
    color:#666;
    display:inline-block;
    line-height: 16px;
    padding: 4px;
    font-size:12px;
  }


  /* 标签列表 */

.taglist {
    margin-top: 25px;
    position: relative;
    width: 780px;
    margin-left: 10px;
}



/* 标签列表table */
.taglist table{
    border-collapse: separate;
    border-spacing: 2px
}

.taglist label{
    font-size: 12px;
    color: #666;
    line-height: 12px;
}

.taglist th{
    padding: 8px 0px;
    font-size: 16px;
    color: #A2122F;
    text-align: center;
    font-weight: normal;
}

.taglist tr{
    background-color: #f8f8f8;
}

.taglist tr:hover{
    background-color: #E1F0F7;
}

.taglist td{
    color: #666;
    font-size: 11px;
    width: 100px;
    text-align: center;
    padding: 4px 0px;
}

.taglist span{
    display: inline-block;
    color: #666;
    font-size: 11px;
}

.taglist .num{
    color: #A2122F;
    color: #520B00;
}

.taglist .grade{
    width: 200px;
}

.taglist td a.normal{
    color: #0E437C;
    text-decoration: none;
}

.taglist td a.normal:hover{
    text-decoration: underline;
}



.taglist a.tag{
    display:block;
    line-height: 16px;
    font-size: 13px;
    color: #327CCB;
    padding: 3px 6px;
    padding-left: 0px;
    margin-bottom: 5px;
}


/* 标签列表 li  */
.taglist li{
    text-align: center;
    display: inline-block;
    width: 130px;
    height: auto;
    padding: 7px;
    padding-bottom:5px;
    margin-left: 15px;
    margin-top: 3px;
    border-radius: 3px;
    border:1px solid transparent;
}


.taglist p{
    text-align: left;
    display: block;
    color: #666;
    font-size: 11px;
    margin-bottom: 3px;
}


.taglist li:hover{
    background-color: #f8f8f8;
    border-color: #DCDFE2;
}


.taglist .act{
    line-height:24px;
    height:24px;
}

.taglist .act:hover{
    background-color:#E1F0F7;
}



/* 广告banner列表 */

.ad-header{
    clear: both;
    margin-top: 15px;
    width: 780px;
    text-align: right;
}

.ad-header h3{
    font-size: 16px;
    color: #333;
    line-height: 24px;
    height: 24px;
    padding: 4px 8px;
    font-weight: bold;
}

.ad-tb{
    width: 780px;
}


.ad-tb table{
    border-collapse: collapse;
    display: block;
    width: auto;
    margin-left: 15px;
}

.ad-tb th{
    padding: 8px 0px;
    font-size: 16px;
    color: #A2122F;
    text-align: center;
    font-weight: normal;
    min-width: 100px;
}

.ad-tb tr{
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px dashed #DDD;
    display: block;
}

.ad-tb td{
    display: table-cell;
    max-width: 250px;
    word-break: break-all;
    overflow:hidden;
    text-align: center;
    padding: 3px 6px;
    min-width: 100px;
}

.ad-tb td a.normal{
    color: #0E437C;
    text-decoration: none;
}

.ad-tb td a.normal:hover{
    text-decoration: underline;
}


.ad-tb .gradeb{
    width: 120px;
}

.ad-content{
    width: 780px;
}


/* add-form */

.add-form{
    margin-top: 25px;
}

.add-form label{
    display: inline-block;
    color: #333;
    font-size: 14px;
    line-height: 16px;
    padding: 3px 6px;
    width: 80px;
}

.add-form p{
    margin-bottom: 25px;
}

.add-form span{
  color: #333;
  font-size: 16px;
  display: inline-block;
  padding: 4px 6px;
  color: #327CCB;
}


/*a 锚点 伪装的input样式*/
.fake-input{
  text-decoration: none;
  background: none repeat scroll 0 0 padding-box white;
  border: 1px solid #8CA4B7;
  color: #333;
  cursor: text;
  display: inline-block;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  width: 220px;
  text-align: center;
  text-decoration: none;
}

/*普通的可点击的链接 */
.normal-url{
    color: #0E437C;
    text-decoration: none;
    margin: 6px 0px;
}

.normal-url:hover{
  text-decoration: underline;
}



/*  信息提示 */

.tip-show{
    line-height: 26px;
    background-color: #fff;
    border: 2px solid #E1F0F7;
    padding: 5px;
    padding-left: 10px;
    -webkit-border-radius: 30px 0px 0px 30px;
    -moz-border-radius: 30px 0px 0px 30px;
    -o-border-radius: 30px 0px 0px 30px;
    border-radius: 30px 0px 0px 30px;
    text-decoration: none;
    color: #CA0002;
    min-width: 100px;
    box-shadow:2px 2px 3px rgba(224, 224, 224, 0.273);
    font-weight: normal;
    letter-spacing: 1px;
    position: fixed;
    right: 0px;
    bottom: 50%;
    display: none;
}


/* 分类和渠道的选择列表 */
.select-box label{
    color:#333;
    display:inline-block;
    line-height: 24px;
    padding: 8px 0;
    font-size:14px;
    min-width: 100px;
}


.select-box li{
  display: inline-block;
  line-height: 24px;
  margin-right: 5px;
  margin-bottom: 10px;
  border-radius: 3px;
  padding-left: 10px;
}

.select-box li:hover{
  background-color: #e1f0f7;
}


img.avatar-24{
    width: 24px;
    height: 24px;
    margin: 5px;
}

img.avatar-120{
    width: 120px;
    height: 120px;
}


.i-head{
    width: 1000px;
    margin-top: 15px;
}


.i-avatar{
    float: left;
}

.i-infor{
    margin-left: 25px;
    float: left;
}

.i-infor p{
    line-height: 24px;
    color: #555;
    display: block;
}


.i-taglist {
  padding: 6px 0px;
  margin-top: 15px;
}

.i-taglist li{
    padding: 8px 0px;
    line-height: 20px;
    text-align: left;
    display: inline-block;
    min-width: 240px;
}

.i-taglist a.tag{
    border-radius: 3px;
    border:1px solid #DCDFE2;
    background-color: #f8f8f8;
    display: inline-block;
    padding: 5px;
    color: #07C;
}

.i-taglist a.del-from-this{
  display: inline-block;
  color: #78000C; 
  margin-left: 15px;
}

.i-taglist a.del-from-all{
  margin-left: 15px;
  display:inline-block;
  color: #CA0002;
}

.i-taglist span{
  color: #333;
  display: inline-block;
  margin-left: 15px;
}

.i-taglist a.del-from-this:hover{
  color: #fff;
  background-color: #78000C;
}

.i-taglist a.del-from-all:hover{
  color: #fff;
  background-color: #CA0002;
}


.choose-table{
    display: inline-block;
    width: 370px;
    height: 500px;
    border:1px solid #61AE24;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    padding: 5px;
    overflow-y:auto;
    overflow-x:hidden;
}

.choose-table  li{
    text-align: left;
    display: block;
    width: 350px;
    height: auto;
    padding: 7px;
    padding-bottom: 5px;
    margin-right: 15px;
    margin-top: 3px;
    border-radius: 3px;
    border: 1px solid transparent;
}


.choose-btn{
    border: none;
    text-align: center;
    width: 120px;
    box-shadow: none;
    margin: 0 15px;
}

.choose-btn a{
    margin-top: 30px;
    width: 100px;
    display: block;
}

.choose-table li:hover{
    background-color: #f8f8f8;
    border-color: #DCDFE2;
}


#activity-android-box{
    max-width: 600px;
    height: auto;
    overflow-x:hidden;
    overflow-y:auto;
    padding: 20px;
}

#activity-box{
    max-width: 600px;
    height: auto;
    overflow-x:hidden;
    overflow-y:auto;
    padding: 20px;
}

