
{% macro input(name,value='',id='',type='text',class='txt')  %}
<input type="{{ type  }}" id="{{ id  }}"  name="{{ name }}" value="{{ value|e }}" class="{{ class }}">
{% endmacro  %}

{% macro textarea(name,value='',id='',class='')  %}
<textarea name="{{ name  }}" id="{{ id }}"  class="{{ class  }}"  >{{ value|e  }}</textarea>
{% endmacro %}


{% macro select(name,value='',options={},id='',class='',style='') %}
<select name="{{ name }}" id="{{ id  }}" >
    {% for k,v in options.items()  %}
        {% if k == value  %}
            <option value="{{ k }}" selected="selected" >{{ v }}</option>
        {% else  %}
            <option value="{{ k }}" >{{ v }}</option>
        {% endif %}
    {% endfor  %}
</select>
{% endmacro  %}


{% macro checkboxlist(name,value=[],options=[],id='',id_key='_id',k='k',v='v',ul_class='',li_class='') %}
<ul class="{{ ul_class  }}" id="{{ id  }}"  >
    {% for i in options %}
        {% if i[k] in value %}
            <li class="{{ li_class  }}"  >
                <input type="checkbox" id="{{ i[id_key] }}" checked="checked" value="{{ i[k]  }}" >
                <label for="{{ i[id_key]  }}" >{{ i[v]  }}</label>
            </li>
        {% else  %}
            <li class="{{ li_class }}" >
                <input type="checkbox" id="{{ i[id_key] }}" value="{{ i[k]  }}" >
                <label for="{{ i[id_key]  }}" >{{ i[v]  }}</label>
            </li>
        {% endif  %}
    {% endfor  %}
</ul>
{% endmacro  %}


