{% import 'form.html' as form %}
<html>
    <head>
        <link href="/static/css/jquery.ui.datepicker.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="/static/css/jquery.ui.core.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="/static/css/jquery.ui.theme.css" rel="stylesheet" type="text/css" media="screen" />
        <script src="/static/js/jquery-1.7.2.min.js" ></script>
        <script src="/static/js/jquery.ui.core.min.js" ></script>
        <script src="/static/js/jquery.ui.datepicker.min.js" ></script>
        <script src="/static/js/jquery.ui.datepicker-zh-CN.js" ></script>



    </head>
    <body>
        {{ form.input('username',id='datefrom')  }}
        {{ form.textarea('username')  }}
        {{ form.checkboxlist('cid',value=['sd'],options=as_dict)  }}
        {{ form.select('name',value='1',options={'0':'专辑','1':'app','2':'其他'})  }}
        <script type="text/javascript">
            $( "#datefrom,#dateto" ).datepicker({
                dateFormat:'yy-mm-dd',
                showAnim:'fadeIn',
                changeMonth: true,
                changeYear: true,
                autoSize:false,
                showButtonPanel:false
            });
        </script>
    </body>
</html>
